
        <div id='advisor-block' style ='display:none'>



          <div class="third" >
            <img class="img-circle" alt="140x140" style="width: 180px; height: 180px; display: block; margin-left: auto;margin-right: auto" src="assets/headshots/jay.png">
            
            <p class="header-white-small center-text" style="color:black; padding: 10px 0 0px 0">Jay Han</p>
            <p class="standard-text center-text" style="color:black; padding 0px 10px 0px 0px; margin:0px 0px 0px 0px">MD</p>
            <p class="standard-text center-text" style="color:black; font-weight:bold; padding: 0px 0px 0px 0px">Vice-Chair of PM&R, UC Davis</p>
            <%= link_to(image_tag('buttons/linkedin-red.png', size:'60x60', :style=>" margin-left:auto; margin-right:auto; display:block"), 'http://www.linkedin.com/pub/jay-j-han-md/5b/682/62a')%>
          </div><!-- /.third -->


     
           <div class="third" >
            <img class="img-circle"  alt="140x140" style="width: 180px; height: 180px; display: block; margin-left: auto;margin-right: auto" src="assets/headshots/tammy.png">
            
            <p class="header-white-small center-text" style="color:black; padding: 10px 0 0px 0">Tammy Richmond</p>
            <p class="standard-text center-text" style="color:black; padding 0px 10px 0px 0px; margin:0px 0px 0px 0px">MS, OTRL</p>
            <p class="standard-text center-text" style="color:black; font-weight:bold; padding: 0px 0px 0px 0px">CEO, Go 2 Care</p>
            <%= link_to(image_tag('buttons/linkedin-red.png', size:'60x60', :style=>" margin-left:auto; margin-right:auto; display:block"), 'http://www.linkedin.com/pub/tammy-richmond-ms-otr-l-faota/18/ba7/aa5')%>

          </div><!-- /.third -->
        
        <div class="third" >
            <img class="img-circle" alt="140x140" style="width: 180px; height: 180px; display: block; margin-left: auto;margin-right: auto" src="assets/headshots/cramer.png">
            
           <p class="header-white-small center-text" style="color:black; padding: 10px 0 0px 0">Steven Cramer</p>
            <p class="standard-text center-text" style="color:black; padding 0px 10px 0px 0px; margin:0px 0px 0px 0px">MD</p>
            <p class="standard-text center-text" style="color:black; font-weight:bold; padding: 0px 0px 0px 0px"> Vice-Chair Neurology Research, UC Irvine</p>
            <%= link_to(image_tag('buttons/linkedin-red.png', size:'60x60', :style=>" margin-left:auto; margin-right:auto; display:block"),'http://www.linkedin.com/pub/steve-cramer/70/711/483')%>
          </div><!-- /.third -->

          <br>
          <br>
          <div class="third" >
            <img class="img-circle" alt="140x140" style="width: 180px; height: 180px; display: block; margin-left: auto;margin-right: auto" src="assets/headshots/ruzena.jpg">
            
            <p class="header-white-small center-text" style="color:black; padding: 10px 0 0px 0">Ruzena Bajcsy</p>
            <p class="standard-text center-text" style="color:black; padding 0px 10px 0px 0px; margin:0px 0px 0px 0px">PhD</p>
            <p class="standard-text center-text" style="color:black; font-weight:bold; padding: 0px 0px 0px 0px">Professor EECS, UC Berkeley</p>
            <%= link_to(image_tag('buttons/linkedin-red.png', size:'60x60', :style=>" margin-left:auto; margin-right:auto; display:block"), 'http://www.linkedin.com/pub/ruzena-bajcsy/1/75/572')%>
          </div><!-- /.third -->
     
           <div class="third" >
            <img class="img-circle"  alt="140x140" style="width: 180px; height: 180px; display: block; margin-left: auto;margin-right: auto" src="assets/headshots/kathy.png">
            
            <p class="header-white-small center-text" style="color:black; padding: 10px 0 0px 0">Kathy Chorba</p>
            <p class="standard-text center-text" style="color:black; padding 0px 10px 0px 0px; margin:0px 0px 0px 0px">Executive Director</p>
            <p class="standard-text center-text" style="color:black; font-weight:bold; padding: 0px 0px 0px 0px">California Telehealth Resource Center</p>
            <%= link_to(image_tag('buttons/linkedin-red.png', size:'60x60', :style=>" margin-left:auto; margin-right:auto; display:block"), 'http://www.linkedin.com/pub/kathy-chorba/1a/264/7a7')%>

          </div><!-- /.third -->
        
        <div class="third" >
            <img class="img-circle" alt="140x140" style="width: 180px; height: 180px; display: block; margin-left: auto;margin-right: auto" src="assets/headshots/gregorij.png">
            
           <p class="header-white-small center-text" style="color:black; padding: 10px 0 0px 0">Marcelo Kallmann</p>
            <p class="standard-text center-text" style="color:black; padding 0px 10px 0px 0px; margin:0px 0px 0px 0px">PhD</p>
            <p class="standard-text center-text" style="color:black; font-weight:bold; padding: 0px 0px 0px 0px">Associate Professor CS, UC Merced</p>
            <%= link_to(image_tag('buttons/linkedin-red.png', size:'60x60', :style=>" margin-left:auto; margin-right:auto; display:block"),'http://www.linkedin.com/pub/marcelo-kallmann/4/504/134')%>
          </div><!-- /.third -->

         
</div>

         
