 <div style="padding: 20px 0 20px 0; background:#2f3439; min-width:1350px; max-width:1500px">
        <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px">
            </br> 
            
            <div style="padding-left:15%; margin-top:0px">

                <%= link_to(image_tag('buttons/fb.png', size:'60x60',), 'https://www.facebook.com/5plustherapy') %>
                <%= link_to(image_tag('buttons/linkedin-red.png', size:'52x52', :style => 'margin:0 3px 0 3px'), 'http://www.linkedin.com/company/3326117?trk=prof-0-ovw-curr_pos') %>
                <%= link_to(image_tag('buttons/twitter.png', size:'60x60',), 'https://www.twitter.com/5plustherapy') %>
                <%= link_to(image_tag('buttons/youtube.png', size:'60x60',), 'https://www.youtube.com') %>
                <%= link_to(image_tag('buttons/gplus.png', size:'49x49', :style => 'margin:2px 0 0 8px'), 'https://www.youtube.com' )%>                
            </div>
    <div>