<div class="popup_box" id="popup_box">
     <div id="form-popup">
      <div style="float:left; width:420px; margin-left:30px">
          <div class="header-white-large"><strong>Want to be a beta tester?</strong></h1>
         </div> 
         <br>
       </div>
      <div style = "float:right; width:50px;">
        <a class="btn btn-medium btn-danger icon-remove"  id="beta-no"></a>
      </div>
      <%= form_for(@betaUser, :remote => true, url:{action:"create", controller:"beta_users"}) do |f| %>
          <div class="span6">
             <%= f.text_field :name, :class=>'subscribe', placeholder:"Your Name"%>
              <%= f.text_field :email, placeholder:"Your Email", :class=>'subscribe' %>
              <%= f.text_field :institution, placeholder:"Your Institution", :class=>'subscribe'%>
             
          
          <button type="submit" id='submit-beta' style="background-image:url('assets/buttons/blue_button.png'); height:67px; width:260px;">
              <p class="header-white-small" style="font-size:20pt; font-weight:bold; text-align:center; padding-top:10px">Get the beta</p>
           
          <%end%>
        </div>
      </div>
        <div id="popup-submission" style="display:none">
          
          <div style="float:left; width:420px; margin-left:30px">
            <div class="header-white-large"><strong>Thanks for signing up! We'll be in contact soon.</strong></h1>
            </div> 
            <br>
            <br>
         <div id='close-beta' style="background-image:url('assets/buttons/red_button.png'); height:67px; width:260px;">
              <p class="header-white-small" style="font-size:20pt; font-weight:bold; text-align:center; padding-top:10px">Return to site</p>
            </div>
          </div>
        </div>
      </div>
    </div>




<div id="home" class=" color-1" style="padding-bottom:30px">
        <div class="row-fluid container" style="padding-top:30px; padding-bottom:0px" >
            
            <div class="center-text">
                <p class="header-white-large" style="margin:0px 0; ">
                    Making physical therapy more efficient.
                </p>
                <%= image_tag('icons/Kinect_Icon_NoBG.png', :style => 'margin: 25px 0 0 0')%>
                
                <p class="header-white-small" style="margin:20px 0;  ">
                Kinect enabled digital health tools promise more physical therapy at a lower cost.</p>
                
            </div>
        
            <div class='portion-container' style='padding: 20px 2% 20px; width:97%'>
              <div id="selling-points" style="padding:30px 0px 0px 5%;">
                  <div style="pull-left">
                       <div class="span5" >
                          <ul class="big-list" style="min-width:350px">
                            <li style="margin: 0px 0 15px 0;"><%= image_tag('icons/bolt.png', size: '60x60', :style => 'margin: 0 25px 0 0')%>10x faster</li>
                            <li style="margin: 15px 0 15px 0"><%= image_tag('icons/sling.png', size: '60x60', :style => 'margin: 0 25px 0 0')%>See more patients</li>
                            <li style="margin: 15px 0 15px 0"><%= image_tag('icons/clock.png', size: '60x60', :style => 'margin: 0 25px 0 0')%>More time for patients</li>
                            <li style="margin: 15px 0 15px 0"><%= image_tag('icons/learn.png', size: '60x60', :style => 'margin: 0 25px 0 0')%>Easy to learn</li>
                            <li style="margin: 15px 0 15px 0"><%= image_tag('icons/piggybank.png', size: '60x60', :style => 'margin: 0 25px 0 0')%>Affordable</li>
                            
                            <li style="margin: 15px 0 15px 0"><%= image_tag('icons/doctor.png', size: '60x60', :style => 'margin: 0 25px 0 0')%>Clinically Validated</li>
                            <li>
                            
                          
                        
                        <a href='#solution'>
                          <div class='button' >
                            <p class="header-white-small button-text">Learn more</p>
                          </div>
                        </a>
                      </div>
                  </div>

                    <div class="span7">
                        <video id="the-video" class="sublime" poster="https://cdn.sublimevideo.net/vpa/ms_800.jpg" width="719" height="422" title="Midnight Sun" data-uid="a240e92d" preload="none" data-autoresize="fit" >
                        <source src="https://cdn.sublimevideo.net/vpa/ms_360p.mp4" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_720p.mp4" data-quality="hd" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_360p.webm" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_720p.webm" data-quality="hd" />
                        </video>
                    </div>
                  </div>



                 
            </div>
        </div>
	</div>