<div id="home" class=" color-1" style="padding-bottom:30px">
        <div class="row-fluid container" style="padding-top:30px; padding-bottom:0px" >
            
            <div class="center-text">
                <p class="header-white-large" style="margin:0px 0; ">
                    Making physical therapy more efficient.
                </p>
                <p class="header-white-small" style="margin:20px 0;  ">•••</p>
                <p class="header-white-small" style="margin:20px 0;  ">
                Kinect enabled digital health tools promise more physical therapy at a lower cost</p>
                
            </div>
        
            <div class='portion-container' style='padding: 20px 2% 20px; width:97%'>
              <div id="selling-points" style="padding:30px 0px 0px 5%;">
                  <div style="pull-left">
                       <div class="span5" >
                          <ul class="big-list">
                            <li style="margin: 15px 0 15px 0;"><%= image_tag('icons/bolt.png', size: '60x60', :style => 'margin: 0 25px 0 0')%>10x faster</li>
                            <li style="margin: 15px 0 15px 0"><%= image_tag('icons/group.png', size: '60x60', :style => 'margin: 0 25px 0 0')%>See more patients</li>
                            <li style="margin: 15px 0 15px 0"><%= image_tag('icons/clock.png', size: '60x60', :style => 'margin: 0 25px 0 0')%>More patient time</li>
                            <li style="margin: 15px 0 15px 0"><%= image_tag('icons/learn.png', size: '60x60', :style => 'margin: 0 25px 0 0')%>Easy to learn and affordable</li>
                            
                            <li style="margin: 15px 0 15px 0"><%= image_tag('icons/doctor.png', size: '60x60', :style => 'margin: 0 25px 0 0')%>Clinically Validated</li>
                            <li>
                            
                          
                          <a href="#problem"class="scroll btn btn-large" style="background:#2185c5; height:30px; width:220px; margin-top:10px"><p class="header-white-small" style="font-size:20pt; font-weight:bold; background:#2185c5"><i class="icon-caret-down" style="margin:0 0 0 0 "></i> Learn more</p></a></li>
                      </div>
                  </div>

                    <div class="span7">
                        <video id="the-video" class="sublime" poster="https://cdn.sublimevideo.net/vpa/ms_800.jpg" width="719" height="422" title="Midnight Sun" data-uid="a240e92d" preload="none" data-autoresize="fit" >
                        <source src="https://cdn.sublimevideo.net/vpa/ms_360p.mp4" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_720p.mp4" data-quality="hd" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_360p.webm" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_720p.webm" data-quality="hd" />
                        </video>
                    </div>
                  </div>



                 
            </div>
        </div>
	</div>