<div  id="solution" style="padding:30px 0 30px 0">
        <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px">
            </br>
            <div class="portion-container">
            <div class="center-text">
                <h1 class="header-black-large" style=" text-align:center; margin-top:0px">
                    Introducing the Motion & Function Assesment Tool (MFAsT<span class="tm" >&#8482</span>)
                </h1>
            </div>
                
            </div>




        <div class="portion-container" >
            <div class="third">
                <p class="header-white-medium" style=" color:black; text-align:normal; margin-top:0px">
                MFAsT<span class="tm" style="line-height:22px" >&#8482</span> is efficient and clinically validated.
                </p>
                <br>
                <p class="standardText">
                    MFAsT combines patent-pending software with the motion-sensor technology of Microsoft's Kinect to accurately measure functional range of motion across multiple conditions and injuries as it relates to activities of daily living (ADL).
 </p>
                <p class="standardText">
                    The diagnostic software delivers an intuitive 3D assessment and progress report of the client’s functional movements to improve clinical outcomes and engage client participation.
                </p>
                 <br>
                    <br>
                    <br>
 <br>
                   
            </div>

            <div class="two-third" >
                <video id="the-video" class="sublime" poster="assets/logos/videofiller.png" width="719" height="422" title="Midnight Sun" data-uid="a240e92d" preload="none" data-autoresize="fit" >
                    
                </video>
                
                <br>
                
            </div>
        </div>
       <div id="icon-filler" class="portion-container" >
                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-10.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-12.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>
                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-11.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>
            </div>


        <div class="portion-container" style="padding-top:0px">
            <div class= "third">
                <p class= "header-black-small" style="margin: 0px 2% 20px 9%; text-align:center; font-weight:normal;">Fast</p>
            </div>
            <div class= "third">
                <p class= "header-black-small" style="margin: 0px 0px 20px 10%; text-align:center; font-weight:normal">Accurate & reliable</p>
            </div>
            <div class= "third">
                <p class= "header-black-small" style="margin: 0px 0px 20px 12%; text-align:center; font-weight:normal">Workflow ready</p>
            </div>
        </div>

        <div class="portion-container" style="padding-top:0px">
            <div class= "third" style="display: table-cell; margin-right:2%" >
               <p class="standardText center-text" > 
                      2 minutes vs. 30 minutes  
                     
               
            </div>
                

            <div class= "third" style="display: table-cell;">
                <p class="standardText center-text">
                    Validated against motion-capture measurements and standard <br>goniometry
                </p>

            </div>

            <div class= "third" style="display: table-cell;">
                <p class="standardText center-text" >
                    Seamlessly integrates into daily practice with commonly used functional measurements and tools</p>
            </div>
        </div>


        <div id="icon-filler" class="portion-container" >
                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-07.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-05.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>
                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-04.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>
        </div>
        

        <div class="portion-container" style="padding-top:0px">
            <div class= "third">
                <p class= "header-black-small" style="margin: 0px 2% 20px 12%; text-align:center; font-weight:normal;">Less paperwork</p>
            </div>
            <div class= "third">
                <p class= "header-black-small" style="margin: 0px 0px 20px 12%; text-align:center; font-weight:normal">Less billing errors</p>
            </div>
            <div class= "third">
                <p class= "header-black-small" style="margin: 0px 0px 20px 12%; text-align:center; font-weight:normal">Engaging</p>
            </div>
        </div>

        <div class="portion-container" style="padding-top:0px;">
            <div class= "third" style="display: table-cell;margin-right:2%">
               <p class="standardText center-text" style="padding-bottom:24px" >
                    Autopopulating insurance forms, progress notes and reports 
                    

                </p>
              
            </div>
                

            <div class= "third" style="display: table-cell;">
                <p class="standardText center-text">
                    Point of care reporting as G-Codes, severity modifiers and functional limitations 
                     
                </p>
            </div>

            <div class= "third" style="display: table-cell;">
                <p class="standardText center-text" >
                    Intuitve 3D graphs allow patients and providers to interact with measurements like never before</p>
            </div>
        </div>


        
    </div>

</div>