<div  id="solution" style="padding:30px 0 30px 0; min-width:1350px">
        <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px">
            </br>
            <div class="portion-container">
            <div class="center-text">
                <h1 class="header-large black" style=" text-align:center; margin-top:0px">
                    Introducing the Motion & Function Assessment Tool (MFAsT<span class="tm" >&#8482</span>)
                </h1>
            </div>
                
            </div>




        <div class="portion-container" >
            <div class="third">
                <p class="header-medium black" style=" text-align:normal; margin-top:0px">
                MFAsT<span class="tm" style="line-height:22px" >&#8482</span> is efficient and clinically validated.
                </p>
                <br>
                <p class="standardText">
                    MFAsT combines patent-pending software with the motion-sensor technology of Microsoft's Kinect to accurately measure functional range of motion across multiple conditions and injuries as it relates to activities of daily living (ADL).
 </p>
                <p class="standardText">
                    The diagnostic software delivers an intuitive 3D assessment and progress report of the client’s functional movements to improve clinical outcomes and engage client participation.
                </p>
   
            </div>

            <div class="two-third" >
                <img src="assets/logos/videofiller.png"/>
                    
                
                <br>
                <br>
                
                
            </div>
        </div>
       <div id="icon-filler" class="portion-container" >
                <div style="  width:32%%; margin:0 0% 0 0%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-10.png', :size => '275x275', :style=>  'margin:auto; display:block ')%>
                </div>                
                <div style="  width:32%%; margin:0 0% 0 0%; display:inline-block">
                    <%= image_tag('icons/target-14.png', :size => '275x275', :style=>  'margin:auto; display:block ')%>
                </div>
                <div style="width:32%%; margin:0 0% 0 0%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-11.png', :size => '275x275', :style=>  'margin:auto; display:block ')%>
                </div>
            </div>


        <div class="portion-container" style="padding-top:0px">
            <div style="  width:32%%; margin:0 0% 0 0%; display:inline-block; text-align:center">
                <p class= "header-small black" style="font-weight:normal" >Fast</p>
            </div>
            <div style="  width:32%%; margin:0 0% 0 0%; display:inline-block; text-align:center">
                <p class= "header-small black" style="font-weight:normal" >Accurate & reliable</p>
            </div>
            <div style="  width:32%%; margin:0 0% 0 0%; display:inline-block; text-align:center">
                <p class= "header-small black" style="font-weight:normal" >Workflow Ready</p>
            </div>
        </div>

        <div class="portion-container" style="padding-top:0px">
             <div style="  width:32%%; margin:0 0% 0 0%; display:inline-block">
               <p class="standardText center-text" > 
                      2 minutes vs. 30 minutes  </p> <br>
                      <br>
                     
               
            </div>
                

             <div style="  width:32%%; margin:0 0% 0 0%; display:inline-block">
                <p class="standardText center-text" >
                    Validated against motion-capture measurements and standard goniometry
                </p>


            </div>

            <div style="  width:32%%; margin:0 0% 0 0%; display:inline-block">
                <p class="standardText center-text" >
                    Seamlessly integrates into daily practice with commonly used functional measurements and tools</p>
            </div>
        </div>


        <div id="icon-filler" class="portion-container" >
                <div style="  width:32%%; margin:0 0% 0 0%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-07.png', :size => '275x275', :style=>  'margin:auto; display:block')%>
                </div>             
                <div style="  width:32%%; margin:0 0% 0 0%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-05.png', :size => '275x275', :style=>  'margin:auto; display:block')%>
                </div>
                <div style="  width:32%%; margin:0 0% 0 0%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-04.png', :size => '275x275', :style=>  'margin:auto; display:block')%>
                </div>
        </div>
        

        <div class="portion-container" style="padding-top:0px">
            <div style="  width:32%%; margin:0 0% 0 0%; display:inline-block">
                <p class= "header-small black" style="margin: 0px 0% 20px 10%; text-align:center; font-weight:normal;">Less paperwork</p>
            </div>
           <div style="  width:32%%; margin:0 0% 0 0%; display:inline-block">
                <p class= "header-small black" style="margin: 0px 0px 20px 10%; text-align:center; font-weight:normal">Fewer billing errors</p>
            </div>
           <div style="  width:32%%; margin:0 0% 0 0%; display:inline-block">
                <p class= "header-small black" style="margin: 0px 0px 20px 10%; text-align:center; font-weight:normal">Engaging</p>
            </div>
        </div>

        <div class="portion-container" style="padding-top:0px;">
            <div style="  width:32%%; margin:0 0% 0 0%; display:inline-block">
               <p class="standardText center-text">
                    Autopopulating insurance forms, progress notes and reports 
                </p>
              
            </div>
                

            <div style="  width:32%%; margin:0 0% 0 0%; display:inline-block">
                <p class="standardText center-text">
                    Point of care reporting as G-Codes, severity modifiers and functional limitations 
                     
                </p>
            </div>

            <div style="  width:32%%; margin:0 0% 0 0%; display:inline-block">
                <p class="standardText center-text" >
                    Intuitve 3D graphs allow patients and providers to interact with measurements like never before</p>
            </div>
        </div>


        
    </div>

</div>