<div  id="solution" style="padding:30px 0 30px 0">
        <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px">
            </br>
            <div class="portion-container">
            <div class="center-text">
                <h1 class="header-black-large" style=" text-align:center; margin-top:0px">
                    Introducing the Motion & Function Assesment Tool (MFAsT<span class="tm" >&#8482</span>)
                </h1>
            </div>
                
            </div>




        <div class="portion-container" >
            <div class="third">
                <p class="header-white-medium" style=" color:black; text-align:normal; margin-top:0px">
                MFAsT<span class="tm" style="line-height:22px" >&#8482</span> is efficient and clinically validated.
                </p>
                <br>
                <p class="standardText">
                    Range of motion evaluation automatically correlates to activities of daily life (ADL).</p>
                <p class="standardText">
                    Diagnostic software delivers an intuitive 3D graph of patients’ function and improvement to make assessments more engaging and therapy more compelling.
                                   </p>
                 <br>
                    <br>
                    <br>
 <br>
                    
            </div>

            <div class="two-third" >
                <video id="the-video" class="sublime" poster="https://cdn.sublimevideo.net/vpa/ms_800.jpg" width="719" height="422" title="Midnight Sun" data-uid="a240e92d" preload="none" data-autoresize="fit" >
                    <source src="https://cdn.sublimevideo.net/vpa/ms_360p.mp4" />
                    <source src="https://cdn.sublimevideo.net/vpa/ms_720p.mp4" data-quality="hd" />
                    <source src="https://cdn.sublimevideo.net/vpa/ms_360p.webm" />
                    <source src="https://cdn.sublimevideo.net/vpa/ms_720p.webm" data-quality="hd" />
                </video>
                
                <br>
                
            </div>
        </div>
       <div id="icon-filler" class="portion-container" >
                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-10.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-12.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>
                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-11.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>
            </div>


        <div class="portion-container" style="padding-top:0px">
            <div class= "third">
                <p class= "header-black-small" style="margin: 0px 2% 20px 12%; text-align:center; font-weight:normal;">Fast</p>
            </div>
            <div class= "third">
                <p class= "header-black-small" style="margin: 0px 0px 20px 10%; text-align:center; font-weight:normal">Accurate & reliable</p>
            </div>
            <div class= "third">
                <p class= "header-black-small" style="margin: 0px 0px 20px 12%; text-align:center; font-weight:normal">Workflow ready</p>
            </div>
        </div>

        <div class="portion-container" style="padding-top:0px">
            <div class= "third" style="margin-right:2%">
               <p class="standardText center-text">
                    2 minutes vs. 30 minutes  
                </p>
               <br>
            </div>
                

            <div class= "third">
                <p class="standardText center-text">
                    Validated against motion capture measurements and standard <br>goniometry
                </p>

            </div>

            <div class= "third" >
                <p class="standardText center-text" >
                    Seamlessly integrates into daily practice with commonly used functional measurements and tools</p>
            </div>
        </div>


        <div id="icon-filler" class="portion-container" >
                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-07.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-05.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>
                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-04.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>
        </div>
        

        <div class="portion-container" style="padding-top:0px">
            <div class= "third">
                <p class= "header-black-small" style="margin: 0px 2% 20px 12%; text-align:center; font-weight:normal;">Less paperwork</p>
            </div>
            <div class= "third">
                <p class= "header-black-small" style="margin: 0px 0px 20px 12%; text-align:center; font-weight:normal">Less billing errors</p>
            </div>
            <div class= "third">
                <p class= "header-black-small" style="margin: 0px 0px 20px 12%; text-align:center; font-weight:normal">Engaging</p>
            </div>
        </div>

        <div class="portion-container" style="padding-top:0px">
            <div class= "third" style="margin-right:2%">
               <p class="standardText center-text">
                    Autopopulating insurance forms, progress notes and reports  
                </p>
               <br>
            </div>
                

            <div class= "third">
                <p class="standardText center-text">
                    Point of care reporting as G-Codes, severity modifiers and functional limitations</p>
            </div>

            <div class= "third" >
                <p class="standardText center-text" >
                    Intuiitve 3D graphs allow patients and providers to interact with measurements like never before</p>
            </div>
        </div>


        
    </div>

</div>