<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>5plus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Twitter bootstrap theme">
    <meta name="author" content="prettystrap">

    <link href="http://vjs.zencdn.net/4.1/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/4.1/video.js"></script>
    <% stylesheet_link_tag 'font-awesome'%>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <!-- Le styles -->


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav  -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
    if (typeof jQuery == 'undefined') {
      document.write(unescape("%3Cscript src='assets/js/jquery-1.9.1.min.js' type='text/javascript'%3E%3C/script%3E"));
    }

    </script>

    <!--Has to be in head, to lazy load images.
    Minimize in production. -->



    <script>
        // History, and back button

    $(function() {
    jQuery.history.listen()
      $('#nav .nav .scroll').click(function() {
      $.history.push('index.html' + $(this).attr('href')); 
      });
    });
    </script>
  </head>

  <!-- activate scrollspy -->
  <body id="top" data-spy="scroll" data-target=".navbar" data-offset="50">

       <!-- Nav button -->
      <a id="toggle"  class="closed">
        <i class="icon-reorder"></i>
      </a>

      <!-- Navigation -->
      <header class="navbar navbar-fixed-top">
        <div class="inner-page">
          <h1 class="logo">5plus </h1>
            <div id="nav">
              <ul class="nav">
                <li class="active"><a title="Home page" class="scroll brand-1" href="#home">Home</a></li>
                <li><a title="Check out our awesome services" href="#problem" class=" scroll brand-4">The Problem</a></li>
                <li><a title="Themes assets" href="#solution" class="scroll brand-3">The Solution</a></li>
                <li><a title="Get in touch!" href="#about" class="scroll brand-2">Our Team</a></li>

                <li><a title="Get in touch!" href="#contact" class="scroll brand-2">Contact</a></li>

              </ul>
            </div>
        </div> 
      </header>


      <!-- Home Page -->
      <div id="home" class="page color-1">
        <div class="inner-page">
          <h2 class="page-headline large">Making physical therapy more efficient.</h2>
        </div>  
        <div class="row-fluid inner-page">
          <div class="span8 pull-right lazy-container">
           <!-- video player here -->

           <div class="span8 demo-video">
          <!--[if !IE]> -->
            <video id="example_video_1" class="video-js vjs-default-skin"
                controls preload="auto" width="640" height="264"
                poster="http://video-js.zencoder.com/oceans-clip.png"
                data-setup='{"example_option":true}'>
               <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
               <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
               <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
              </video>
          <!-- <![endif]-->

          <!--[if IE]>
            <video class="video-js" controls
              preload="auto" width="620" height="256" poster="http://video-js.zencoder.com/oceans-clip.jpg" data-setup="{}">
              <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4'/>
              <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm'/>
            </video>
          <![endif]-->
        </div>

          </div>
          <div class="span4 pull-right">
            <ul class="big-list">
              <li><i class="icon-bolt"></i>Fast</li>
              <li><i class="icon-tablet"></i>Cross Platform</li>
              <li><i class="icon-cloud"></i>Cloud Based</li>
              <li><i class="icon-user-md"></i>Clinically Certified</li>
            </ul>
            <br />
            <a href="#features" title="Check out more freatures!" class="scroll btn btn-centered"><i class="icon-caret-down"></i> Learn more</a>
          </div>
        </div>
      </div>

        <div class="sign-up color-2 visible-desktop">
        <div class="row-fluid inner-page">
          <div class="span12">
            <h4 class="pull-left">Data collection made practical and user friendly. This changes everything.</h4>
            <a href="#features" class="scroll btn pull-right" title="Check out more freatures!"><i class="icon-caret-down"></i> Scroll down</a>
          </div>
        </div>
      </div>

      <div id="problem" class="page color-4">
        <div class="inner-page">
          <h2 class="page-headline">The Problem</h2>
        </div>

        <div class="inner-page row-fluid">
          <ul class="features list-inline">
            <li>
              <h3><i class="icon-group"></i> Too many patients. Too few physical therapists.</h3>
              <p>2004:<br>Outpatients: 3.7 million <br>Physical Therapists: 148,000</p>
               <p>2013:<br>Outpatients: 5.4 million <br>Physical Therapists: 158,000</p>
            </li>
            <li>
              <h3><i class="icon-time"></i> Current data collection is slow and tedious.</h3>
              <p>The goniometer is an outdated medical tool. It inhibits the speed of data collection, as 
                each joint's range of motion must be manually measured.
              </p>
              <p>It can take 30 minutes to collect *full body range of motion data*.
            </li>
            <li>
              <h3><i class="icon-pencil"></i> Collected data becomes difficult to distribute.</h3>
              <p> Collected data is transcribed manually, and must be retranscribed each time it is distributed.</p>
              <p>Medical records and insurance forms quickly make for an inefficient and labor intensive process.</p>
            </li>
            </ul>
        </div>
                         
        <div class="row-fluid inner-page">
          <div class="span6 lazy-container">
             <%= image_tag('tmd-big.jpg', :class => 'figurette lazy')%>
          </div>
          <div class="span6">           
            <h3>It's time for a change.</h3>
            <p class="lead">Physical Therapist's need more time to maintain a high level of patient care. This is how we do it: </p>
            <ul class="list-wide">
              <li><i class="icon-check"></i> Decrease data collection time</li>
              <li><i class="icon-check"></i> Collect digital data</li>
              <li><i class="icon-check"></i> Use data to autopopulate forms</li>
            </ul>         
          </div>
        </div>



         <div id="solution" class="page color-3">
          <div class="inner-page">
            <h2 class="page-headline">Introducing MFAsT</h2>
            <h4 class="page-headline"> Motion and Function Assestment Tool</h4>
          </div>

        <!-- Vectors -->
        <div class="row-fluid inner-page">
          <div class="span6 lazy-container">
            
            <%= image_tag('responsive-vectors.png', :class => 'figurette lazy')%>
          </div>
          <div class="span6">
            <h3>Redefining the meaning of efficiency.</h3>
            <p class="lead">The 5plus proprietary software has been <%= link_to('clinically validated for accuracy', 'http://www.google.com') %> and works in conjunciton with Microsoft KINECT to accurately and efficiently collect *range of motion data and calculate a person's usuable workspace*. </p>
            <p> The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro.. </p>
          </div>
        </div> <!-- /vectors -->

        <hr>


        <div class="inner-page row-fluid" id="features">
          <ul class="features list-inline">
            <li>
              <h3><i class="icon-bolt"></i> Fast.</h3>
              <p>Collect range of motion data for the entire body in 2 minutes.</p>
              <p>Less time spent on data collection allows Physical Therapists more time to focus on patient care or see more patients.</p>
            </li>
            <li>
              <h3><i class="icon-bar-chart"></i> Meaningful.</h3>
              <p>Interact with collected data like never before. See visual representations of a patient's
                usuable workspace.
              </p>
              <p>Easily identify the practical implications of the data collected.</p>
            </li>
            <li>
              <h3><i class="icon-random"></i> Shareable.</h3>
              <p>Data is easily exported in a file format of your choice.</p>
              <p>Use output file to auto-populate insurance forms or medical records with the push of a button.</p>
            </li>
            </ul>
        </div>


        <div class="clients color-1">
          <div class="inner-page row-fluid">
              <h2 class="page-headline">Want to learn more? Check out a complete technological breakdown of the MFAsT <%= link_to('here.', 'http://google.com') %></h2>
          </div>
          

      </div> <!-- /Assets page -->
      <!-- About page -->
      <div id="about" class="page color-4">
        <div class="inner-page">
          <h2 class="page-headline">Who are we and how it all got started. The 5plus story.</h2>
        </div>
        <div class="row-fluid inner-page">
          <div class="span6  lazy-container">
              <img class="figurette lazy" src="assets/img/pixel.png" data-original="assets/img/green-office.png" alt="Our workspace" />
          </div>
          <div class="span6">
            <h3>Zonbi tattered for solum.</h3>
            <p class="lead">The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro.</p>
            <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</p>
          </div>
        </div>

        <hr>
        <div class="row-fluid inner-page team">
          <div class="span4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="assets/kourosh.png">
            <h2>Kourosh Parsapour</h2>
            <p>M.D. St Georges University 1998<br>M.B.A. UC Irvine 2012<p>
            <p>Founder<br>
            <%= link_to("See More", 'http://www.linkedin.com/pub/kourosh-parsapour-md-mba/11/70/679')%></p>
          </div><!-- /.span4 -->

          <div class="span4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="/assets/steve.jpeg">
            <h2>Bill Spath</h2>
            <p>M.B.A. UC Irvine 2012</p>
            <p>Founder • CFO <br>
            <%= link_to("See More", 'http://www.linkedin.com/pub/bill-spath/6/206/74a')%><p>
          </div><!-- /.span4 -->
        

   
          <div class="span4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="/assets/steve.jpeg">
            <h2>Jay Han</h2>
            <p>M.B.A. UC Irvine 2012<p>
            <p>Founder • CFO <br>
            <%= link_to("See More", 'http://www.linkedin.com/pub/jay-j-han-md/5b/682/62a')%></p>
          </div><!-- /.span4 -->

          <div class="span5">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="/assets/steve.jpeg">
            <h2>Gregorij Kurillo</h2>
            <p>M.B.A. UC Irvine 2012<p>
            <p>Founder • CFO <br>
            <%= link_to("See More", 'http://www.linkedin.com/profile/view?id=23960600&locale=en_US&trk=tyah2')%></p>
          </div><!-- /.span4 -->
        </div>
        
        <!-- Newsletter -->
        
      <div class="newsletter color-1" >
        <div class="inner-page" id="subscribe">
          <h2 class="page-headline">Keep up with what we're doing</h2>
        </div>
        <div class="inner-page row-fluid">

          <div class="span4">
            <h4><strong>Be cool</strong>, subscribe to get our latest news</h4>
          </div>
          <div class="span6">
            <input type="email" placeholder="your@e-mail.com" name="EMAIL" class="subscribe">
          </div>
          <div class="span2">
            <button type="submit"  class="btn pull-right subscribe">Subscribe</button>
          </div>
        </div>
      </div>


        <div id="contact" class="page color-3">
        <div class="inner-page">
          <h2 class="page-headline">Get in touch and stay updated</h2>
        </div>
        <div class="row-fluid inner-page contact">
          <div class="span6">
            <h3>What's on your mind?</h3>
            <textarea rows="6" placeholder="Your story"></textarea>
            <input type="text" placeholder="your@e-mail.com"><br />
            <input type="text" placeholder="Name"><br />
            <button class="btn btn-centered">Contact us</button>
          </div>
          <div class="span6">
            <div class="btn-container centered lazy-container text-center">
              <%= image_tag('transparent.gif', :class => 'figurette lazy')%>
              
            </div>
          </div>
        </div>
      </div>

        <%= form_for(:feedback, :remote => true) do |f| %>
        <div id="contact" class="page color-3">
          <div class="inner-page">
            <h2 class="page-headline">Get in touch and stay updated</h2>
          </div>
          <div class="row-fluid inner-page contact">
            <div class="span6">
              <h3>What's on your mind?</h3>
              <%= f.text_area :input, placeholder:"Name", rows:6   %>
              <%= f.text_field :email, placeholder:"name@example.com" %>
              <%= f.text_field :name, placeholder:"Name" %>
              <%= submit_tag "Contact Us", :class => "btn btn-centered" %>
            </div>


        </div>
        </div>
        <% end %>

       <footer class="page color-5">
        <div class="inner-page row-fluid">
          <div class="span6 social">
            <a href="http://www.twitter.com/5plustherapy"><i class="icon-twitter"></i></a>   
            <a href="https://www.facebook.com/5plustherapy"><i class="icon-facebook-sign"></i></a>
          </div>
          <div class="span6 text-right copyright">
            &copy; 2013 5plus | all rights reserved |  <a href="#top"   title="Got to top" class="scroll">To top <i class="icon-caret-up"></i></a>
          </div>
        </div>
      </footer>

