<head>
    <meta charset="utf-8">
   
    

    <script type="text/javascript" src="//cdn.sublimevideo.net/js/ovq56fyh.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>


      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <link href='assets/stylesheets/cutom.css' rel='stylesheet' type='text/css'>

 <style> 



    </style>


     <script>
    if (typeof jQuery == 'undefined') {
      document.write(unescape("%3Cscript src='assets/js/jquery-1.9.1.min.js' type='text/javascript'%3E%3C/script%3E"));
    }

    </script>

    <script>
        // History, and back button
    $(function() {
    jQuery.history.listen()
      $('#nav .nav .scroll').click(function() {
      $.history.push('test.html' + $(this).attr('href')); 
      });
    });
    </script>


</head>


 <%= render "/staticpages/navbar" %>

<body>
    <%= render "/staticpages/kour" %>
    <%= render "/staticpages/part2" %>
    <%= render "/staticpages/part3" %>
    <%= render "/staticpages/part4" %>
    <%= render "/staticpages/part5" %>
    <%= render "/staticpages/subscribe" %>
    <%= render "/staticpages/contact" %>
    <%= render "/staticpages/contributors" %>

    <%= render "staticpages/footer" %>



</body>
<script>
    $('#submit-subscribe').click(function() {
    $('#subscribe-confirmed').show();
    });

    $('#advisors').click(function() {
    $('#founders-block').slideUp();
    $('#advisor-block').slideDown();
    });

    $('#founders').click(function() {
    $('#advisor-block').slideUp();
    $('#founders-block').slideDown();
    });

    $('#submit-feedback').click(function() {
    $('#feedback-confirmed').show();
    });
    function unloadPopupBox() { // TO Unload the Popupbox
      $('#popup_box').fadeOut("slow");
       $('#popup_box').fadeOut("slow");
      $("#content").css({ // this is just for style   
        "opacity": "1"  
      }); 
    }

    
    function loadPopupBox() { // To Load the Popupbox
  
      $('#popup_box').fadeIn("slow");
      $('#popup_box_pub').fadeOut("slow");
      $("#content").css({ // this is just for style
        "opacity": "0.3"  });
      
      
     
  }



  function loadPopupBoxPublications() { // To Load the Popupbox
  
      $('#popup_box_pub').fadeIn("slow");
      $("#content").css({ // this is just for style
        "opacity": "0.3"  });
      
      
     
  }

  function unloadPopupBoxPublications() { // To Load the Popupbox
  
      $('#popup_box_pub').fadeOut("slow");
      $("#content").css({ // this is just for style
        "opacity": "0.3"  });
      
      
     
  }

    $("#beta").click(function () {

      loadPopupBox();
      $('#form-popup').show();
    });

    $("#publications").click(function () {

      loadPopupBoxPublications();
      //$('#publication-popup').show();
    });

    $('#beta-no').click(function(){
      unloadPopupBox();
    });
    $('#pub-no').click(function(){
      unloadPopupBoxPublications();
    });
    $('#close-beta').click(function(){
  
    $('#popup-submission').hide();
    unloadPopupBox();

  
    });

    $('#submit-beta').click(function() {
      console.log('hit');
      $('#form-popup').hide();
      $('#popup-submission').show();
    });



</script>
    
