<head>
    <meta charset="utf-8">
    <title>FivePlus</title>
    

    <script type="text/javascript" src="//cdn.sublimevideo.net/js/eunrkkbu.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <style> 

   
        .header-black {

            font-family: 'Roboto', sans-serif;
            color:black;
        }

        .header-white {

            font-family: 'Open Sans', 'Source Sans Pro', Helvetica, Arial, sans-serif;
            color:white;
        }

        .header-white-small {

            font-family: 'Open Sans', 'Source Sans Pro', Helvetica, Arial, sans-serif;
            color:white;
            font-size: 20pt;
            line-height: 25pt;

        }

        .custom-container{
            margin-right:120px; 
            margin-left:8%
        }

        .header-white-medium {

            font-family: 'Open Sans', 'Source Sans Pro', Helvetica, Arial, sans-serif;
            color:white;
            font-size: 25pt;
            line-height: 30pt;

        }

        .header-white-large {

            font-family: 'Open Sans', 'Source Sans Pro', Helvetica, Arial, sans-serif;
            color:white;
            font-size: 38pt;
            line-height: 42pt;

        }


        .standardText{
            font-family: 'Open Sans', 'Source Sans Pro', Helvetica, Arial, sans-serif;
            font-size: 16pt;
            line-height: 20pt;
            text-align:normal
        }

        .black {
            color:black;
        }

        .rory-nav-text {
            padding-top:15px; 
            font-size:16pt;
        }

        .splash-1 {
            background: #7ecefd;

        }

        .splash-2 {
            background: #fff6e5;
          
        }

        .splash-3 {
            background: #2185c5;
        }

        .splash-4 {
            background: #ff7f66;
        }

         .splash-5 {
            background:#3e454c;
        }

        .center-text {
            text-align: center;
        }

        .portion-container{
            width:85%;
            padding: 20px 2% 20px 10%;
        }

        .third {
            width:30%;
            display:inline-block;
            padding: 0 1% 0 1%;
        }

        .two-third {
            width:60%;
            display:inline-block;
            padding: 0 1% 0 1%;
        }

        .half {
            width:42%;
            display:inline-block;
            padding: 0 1% 0 1%;
        }

    </style>


     <script>
    if (typeof jQuery == 'undefined') {
      document.write(unescape("%3Cscript src='assets/js/jquery-1.9.1.min.js' type='text/javascript'%3E%3C/script%3E"));
    }

    </script>

    <script>
        // History, and back button
    $(function() {
    jQuery.history.listen()
      $('#nav .nav .scroll').click(function() {
      $.history.push('test.html' + $(this).attr('href')); 
      });
    });
    </script>


</head>

 <%= render "/staticpages/navbar" %>

<body>
    <%= render "/staticpages/kour" %>
    <%= render "/staticpages/part2" %>
    <%= render "/staticpages/part3" %>
    <%= render "/staticpages/part4" %>
    <%= render "/staticpages/part5" %>
    <%= render "/staticpages/subscribe" %>
    <%= render "/staticpages/contact" %>
    <%= render "/staticpages/contributors" %>

    <%= render "staticpages/footer" %>



</body>

    
